.bg-fighter {
  background-image: url(/images/fighting.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.countdown-container {
  display: flex; 
  margin: 0;
  font-family: 'Baloo Tammudu 2';
}
h1 {
  text-align: top;
  margin-bottom: 50px;
  font-size: 60px;
  color: whitesmoke;
  margin-top: 0;
}
.big-text {
  font-weight: bold;
  font-size: 130px;
  line-height: 0.5;
  margin: 0px 25px;
  color: whitesmoke;
  text-align: center;
}
.countdown-el {
  text-align: center;
}
span {
  color: whitesmoke;
  font-size: 25px; 
}
